<script lang="ts" setup>
import {
  mdiAccountCircle,
  mdiChevronUp,
  mdiChevronDown,
  mdiContacts,
  mdiPhone,
  mdiCardAccountMail,
} from "@mdi/js";
</script>

<script lang="ts">
export default {
  data: () => ({
    show: false,
  }),
};
</script>

<template>
  <br />
  <v-card class="mx-auto" max-width="800">
    <v-avatar image="nippon.jpg" size="200"></v-avatar>
    <v-card-title> Name: Thanataya Woratayanun</v-card-title>
    <v-card-subtitle> My Nickname : Nippon</v-card-subtitle>

    <v-card-item class="text-right">
      <div>
        <div class="text-overline mb-1">
          <v-icon :icon="mdiContacts"> </v-icon> Contact :
        </div>
        <div class="text-h6 mb-1">
          <v-icon :icon="mdiPhone"> </v-icon> +66 62 428 9433
        </div>
        <div class="text-h6 mb-1">
          <v-icon :icon="mdiCardAccountMail"> </v-icon> nniporii.nn@gmail.com
        </div>
      </div>
    </v-card-item>
    <v-card-action>
      <br />
      <v-btn
        color="orange-lighten-2"
        variant="text"
        :prepend-icon="mdiAccountCircle"
      >
        My Details
      </v-btn>
      <v-btn
        :icon="show ? mdiChevronUp : mdiChevronDown"
        @click="show = !show"
      ></v-btn>
    </v-card-action>
    <v-expand-transition>
      <div v-show="show">
        <v-card-text>
          <v-container>
            <v-card-title> My Interest : </v-card-title>
            <v-img src="travel.jpg" height="200px" justify-center></v-img>

            <v-card-title> Travel and Trips </v-card-title>

            <v-img src="cat.jpg" height="200px" justify-center></v-img>

            <v-card-title> Cat </v-card-title>

            <v-img src="tea.jpg" height="200px" justify-center></v-img>

            <v-card-title> Milk Tea and Boba </v-card-title>
            <br />
            <v-divider></v-divider>
            <v-card-title> My Education : </v-card-title>
            <br />
            <v-row>
              <v-col>Knowledge</v-col>
              <v-col>School</v-col>
              <v-col>Duration</v-col>
            </v-row>
            <br />
            <v-divider></v-divider>
            <br />
            <v-row>
              <v-col>Kindergarten</v-col>
              <v-col>Wat DonThong</v-col>
              <v-col>2005 - 2007</v-col>
            </v-row>
            <v-row>
              <v-col>Elementary School P.1-P.4</v-col>
              <v-col>Wat Donthong</v-col>
              <v-col>2008 - 2011</v-col>
            </v-row>
            <v-row>
              <v-col>Elementary School P.5-P.6</v-col>
              <v-col>Saint Louis Chachoengsao</v-col>
              <v-col>2012 - 2013</v-col>
            </v-row>
            <v-row>
              <v-col>High School S.1-S.3</v-col>
              <v-col>Saint Louis Chachoengsao</v-col>
              <v-col>2014 - 2016</v-col>
            </v-row>
            <v-row>
              <v-col>High School S.4-S.6</v-col>
              <v-col>Benchamaratrangsarit</v-col>
              <v-col>2017 - 2019</v-col>
            </v-row>
            <v-row>
              <v-col>Bachelor Degrees</v-col>
              <v-col>Burapha University</v-col>
              <v-col>2020 ~</v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </div>
    </v-expand-transition>
  </v-card>
</template>
